//Custom color palette:
@color_blue: var(--color_blue);
@color_cyan: var(--color_cyan);
@color_green: var(--color_green);
@color_teal: var(--color_teal);

@color_blue-gray: var(--color_blue-gray);

@color_bg-beige: var(--color_bg-beige);
@color_bg-gray: var(--color_bg-gray);
@color_bg-light: var(--color_bg-light);
@color_bg-mint: var(--color_bg-mint);
@color_bg-silver: var(--color_bg-silver);
@color_bg-swamp: var(--color_bg-swamp);

@color_text-dark: var(--color_text-dark);
@color_text-pale: var(--color_text-pale);

@gradient_button: var(--gradient_button);

@shadow_button: var(--shadow_button);
@shadow_button-hover: var(--shadow_button-hover);
@shadow_button-active: var(--shadow_button-active);

@shadow: var(--shadow);

/* Block "Main" */
.block_main {
    background-color: @color_bg-beige;
    background-image: url('../images/ic-holidays/img_main-bg.jpg');
    background-position: 100% bottom;
    background-repeat: no-repeat;
    background-size: contain;

    .main-text {
        background: linear-gradient(90deg, @color_bg-beige 50%, transparent);
        padding-top: 56px;
        padding-bottom: 80px;
        width: 100%;
        height: 100%;
        max-width: 580px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .heading-main {
            font-size: 50px;
            font-weight: 300;
            line-height: 60px;
        }

        p+p {
            margin-top: 20px;
        }

        p+a {
            margin-top: 40px;
        }

    }

    .btn_main {
        justify-self: end;
        background: @gradient_button;
        box-shadow: @shadow_button;
        color: white;
        width: 100%;
        max-width: 320px;
        height: 60px;
        font-weight: 700;
        padding: 12px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;

        span+img {
            margin-left: 12px;
        }

        &:hover {
            box-shadow: @shadow_button-hover;
        }

        &:active {
            box-shadow: @shadow_button-active;
        }
    }
}

/* Block "Two in One" */
.two-in-one {
    background-image: url('../images/bg_decor-vertical.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

/* Block "If" */
.block_if {
    .title {
        text-align: center;
        margin: 20px auto 60px auto;
    }

    .if-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 80px 60px;
    }

    .item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        p {
            margin-left: 20px;
        }
    }

    .if-text {
        text-align: center;
        margin-top: 80px;

        span.handwriting {
            img {
                left: 60%;
                transform: none;
                width: 40%;
            }
        }
    }
}

/* Block "What Awaits You" */
.block_what-awaits-you {
    padding-top: 120px;
    text-align: center;

    .way-wrapper {
        margin-top: 40px;
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 40px;
    }

    .bg-img {
        width: 100%;
        max-width: 560px;
    }

    .item {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-start;
        grid-gap: 20px;
    }

    .title {
        min-height: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    ul {
        margin-top: 20px;
    }

    ul li+li {
        margin-top: 14px;
    }
}

/* Block "Author" */
.block_author {
    background-color: @color_bg-light;
    padding-top: 70px;
    padding-bottom: 80px;
    text-align: center;

    .author-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        text-align: left;
        padding-top: 40px;
    }

    .item-photo {
        width: 100%;
        max-width: 560px;
        height: 440px;
        object-fit: cover;
        object-position: center top;
        border-radius: 8px;
    }

    .item-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 0;

        p+p {
            margin-top: 16px;
        }
    }

    .skills-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 40px;
    }

    .skill {
        padding-left: 80px;
        position: relative;
        color: @color_blue-gray;

        img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

/* Block "After Course" */
.block_after-course {
    padding: 60px 0;

    .ac-text {
        text-align: center;
    }

    .ac-wrapper {
        margin-top: 80px;
        position: relative;
    }

    .bg-img-01 {
        z-index: 0;
        position: absolute;
        top: 50%;
        right: -5%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 480px;
        height: auto;
    }

    .items-list {
        margin-right: 30%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 40px;
    }

    .item {
        z-index: 2;
        padding-left: 60px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

/* Block "Price" */
.block_price {
    margin-top: 40px;

    .price-wrapper {
        padding: 60px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        position: relative;
    }

    .bg-img-01 {
        z-index: 0;
        position: absolute;
        top: 50%;
        left: -5%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 880px;
        height: auto;
    }

    .bg-img-02 {
        display: none;
    }

    .item-price {
        margin-left: auto;
        z-index: 2;
        background-color: white;
        border-radius: 10px;
        box-shadow: @shadow;
        padding: 40px 20px;
        width: 100%;
        max-width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .old-price {
        margin-top: 30px;

        .suptitle {
            font-size: 13px;
            line-height: 21px;
            text-transform: uppercase;
        }

        .price {
            color: @color_text-pale;
            text-decoration: line-through;
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            margin-top: 10px;
        }
    }

    .new-price {
        margin-top: 30px;

        .suptitle {
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
        }

        .price {
            font-size: 64px;
            font-weight: 700;
            line-height: 72px;
            margin-top: 10px;
        }
    }

    .btn_buy-course {
        margin-top: 30px;
        background: @gradient_button;
        box-shadow: @shadow_button;
        color: white;
        width: 100%;
        max-width: 320px;
        height: 60px;
        font-weight: 700;
        padding: 12px;
        border-radius: 8px;
        white-space: nowrap;
        text-align: center;

        &:hover {
            box-shadow: @shadow_button-hover;
        }

        &:active {
            box-shadow: @shadow_button-active;
        }
    }

    .subtitle {
        margin-top: 15px;
        font-size: 18px;
        line-height: 26px;
    }
}

/* Media */
@media screen and (max-width: 1199.8px) {

    /* Block "Main" */
    .block_main {
        background-position: 256px bottom;
    }
}

@media screen and (max-width: 991.8px) {

    /* Block "Main" */
    .block_main {
        background-position: 192px bottom;

        .main-text {
            padding-top: 48px;
            padding-bottom: 64px;
            max-width: 528px;

            .heading-main {
                font-size: 45px;
                line-height: 55px;
            }

            p+p {
                margin-top: 40px;
            }
        }

        .btn_main {
            max-width: 280px;
        }
    }

    /* Block "Two in One" */
    .two-in-one {
        padding: 60px 0;
    }

    /* Block "If" */
    .block_if {
        .if-wrapper {
            grid-gap: 60px;
        }

        .item {
            p {
                margin-left: 16px;
            }
        }

        .if-text {
            margin-top: 60px;
        }
    }

    /* Block "What Awaits You" */
    .block_what-awaits-you {
        padding-top: 100px;

        .way-wrapper {
            grid-gap: 20px;
        }

        .title {
            min-height: 56px;
        }

        ul li {
            font-size: 16px;
            line-height: 24px;
        }
    }

    /* Block "Author" */
    .block_author {
        padding-top: 50px;
        padding-bottom: 60px;

        .item-info {
            padding: 0;
        }

        .skills-list {
            margin-top: 24px;
        }

        .skill {
            margin-top: 8px;
            padding-left: 60px;

            img {
                width: 40px;
            }
        }
    }

    /* Block "After Course" */
    .block_after-course {
        .items-list {
            margin-right: 40%;
        }

        .bg-img-01 {
            right: -10%;
            max-width: 440px;
        }

        .item {
            padding-left: 48px;

            img {
                width: 30px;
            }
        }
    }

    /* Block "Price" */
    .block_price {
        .bg-img-01 {
            right: -15%;
        }

        .item-price {
            padding: 30px;
            width: 100%;
            max-width: 360px;
        }

        .old-price {
            margin-top: 24px;

            .price {
                font-size: 40px;
                line-height: 48px;
                margin-top: 8px;
            }
        }

        .new-price {
            margin-top: 24px;

            .price {
                font-size: 56px;
                line-height: 64px;
                margin-top: 8px;
            }
        }

        .btn_buy-course {
            margin-top: 20px;
            max-width: 260px;
            height: auto;
            font-size: 18px;
            line-height: 26px;

            &:hover {
                box-shadow: @shadow_button-hover;
            }

            &:active {
                box-shadow: @shadow_button-active;
            }
        }

        .subtitle {
            margin-top: 8px;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 767.8px) {

    /* Block "Main" */
    .block_main {
        background-position: center bottom;

        .main-text {
            background: linear-gradient(180deg, @color_bg-beige, transparent 50%);
            padding: 20px 0;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            p+p {
                margin-top: 32px;
            }

            p+a {
                margin-top: 280px;
            }
        }
    }

    /* Block "What Awaits You" */
    .block_what-awaits-you {
        padding-top: 80px;

        .way-wrapper {
            grid-template-columns: 1fr;
        }

        .bg-img {
            order: 1;
            margin: 0 auto;
            max-width: 480px;
        }

        .item {
            order: 2;
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: flex-start;
            grid-gap: 20px;
        }
    }

    /* Block "Author" */
    .block_author {
        padding-top: 40px;
        padding-bottom: 40px;

        .author-item {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            grid-gap: 30px;
            text-align: left;
            padding-top: 40px;
        }

        .item-photo {
            order: 1;
            height: 400px;
            margin: 0 auto;
        }

        .item-info {
            order: 2;

            p+p {
                margin-top: 8px;
            }
        }

        .skills-list {
            margin-top: 16px;
        }

        .skill {
            margin: 16px 0;
        }
    }

    /* Block "After Course" */
    .block_after-course {
        padding: 40px 0;

        .ac-wrapper {
            margin-top: 20px;
        }

        .bg-img-01 {
            position: static;
            top: 0;
            left: 0;
            transform: none;
            margin: 0 auto;
            max-width: 400px;
        }

        .items-list {
            margin: 0;
        }
    }

    /* Block "Price" */
    .block_price {
        margin: 0;
        padding: 40px 0;

        .price-wrapper {
            padding: 0;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            position: relative;
        }

        .item-price {
            position: relative;
            margin: 0;
            margin-top: -60px;
        }

        .bg-img-01 {
            display: none;
        }

        .bg-img-02 {
            display: block;
            width: 100%;
            max-width: 480px;
            height: auto;
        }
    }
}

@media screen and (max-width: 575.8px) {

    /* Block "Main" */
    .block_main {
        background-image: url('../images/ic-holidays/img_main-bg-sm.jpg');

        .main-text {
            .heading-main {
                font-size: 28px;
                line-height: 36px;
            }

            p+a {
                margin-top: 256px;
            }
        }

        .btn_main {
            max-width: 240px;
            height: 48px;
            padding: 8px;
        }
    }

    /* Block "Two in One" */
    .two-in-one {
        padding: 40px 0;
    }

    /* Block "If" */
    .block_if {
        .if-wrapper {
            grid-gap: 40px;
        }

        .item {
            p {
                margin-left: 12px;
            }
        }

        .if-text {
            margin-top: 40px;
        }
    }

    /* Block "What Awaits You" */
    .block_what-awaits-you {
        ul {
            position: relative;
            margin-left: -76px;
        }
    }

    /* Block "Author" */
    .block_author {
        .item-photo {
            height: 320px;
        }

        .skill {
            margin: 12px 0;
        }
    }
}