/* Block "Main" */
.block_main.lp-05 {
  background-color: var(--color_bg-beige);
  background-image: url('../images/lp-05/img_main-bg.jpg');
  background-position: 100% bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.block_main.lp-05 .main-text {
  background: linear-gradient(90deg, var(--color_bg-beige) 50%, transparent);
  padding-top: 56px;
  padding-bottom: 80px;
  width: 100%;
  height: 100%;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.block_main.lp-05 .main-text .heading-main {
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
}
.block_main.lp-05 .main-text p + p {
  margin-top: 20px;
}
.block_main.lp-05 .main-text p + a {
  margin-top: 40px;
}
.block_main.lp-05 .btn_main {
  justify-self: end;
  background: var(--gradient_button);
  box-shadow: var(--shadow_button);
  color: white;
  width: 100%;
  max-width: 320px;
  height: 60px;
  font-weight: 700;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.block_main.lp-05 .btn_main span + img {
  margin-left: 12px;
}
.block_main.lp-05 .btn_main:hover {
  box-shadow: var(--shadow_button-hover);
}
.block_main.lp-05 .btn_main:active {
  box-shadow: var(--shadow_button-active);
}
/* Block "Two in One" */
.two-in-one {
  background-image: url('../images/bg_decor-vertical.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
/* Block "If" */
.block_if.lp-05 .title {
  text-align: center;
  margin: 20px auto 60px auto;
}
.block_if.lp-05 .if-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 80px 60px;
}
.block_if.lp-05 .item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.block_if.lp-05 .item p {
  margin-left: 20px;
}
.block_if.lp-05 .if-text {
  text-align: center;
  margin-top: 80px;
}
.block_if.lp-05 .if-text span.handwriting img {
  left: 60%;
  transform: none;
  width: 40%;
}
/* Block "What Awaits You" */
.block_what-awaits-you.lp-05 {
  padding-top: 120px;
  text-align: center;
}
.block_what-awaits-you.lp-05 .way-wrapper {
  margin-top: 40px;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 40px;
}
.block_what-awaits-you.lp-05 .bg-img {
  width: 100%;
  max-width: 560px;
}
.block_what-awaits-you.lp-05 .item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  grid-gap: 20px;
}
.block_what-awaits-you.lp-05 ul {
  margin-top: 20px;
}
.block_what-awaits-you.lp-05 ul li + li {
  margin-top: 14px;
}
/* Block "Author" */
.block_author.lp-05 {
  background-color: var(--color_bg-light);
  padding-top: 70px;
  padding-bottom: 80px;
  text-align: center;
}
.block_author.lp-05 .author-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  text-align: left;
  padding-top: 40px;
}
.block_author.lp-05 .item-photo {
  width: 100%;
  max-width: 560px;
  height: 440px;
  object-fit: cover;
  object-position: center top;
  border-radius: 8px;
}
.block_author.lp-05 .item-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0;
}
.block_author.lp-05 .item-info p + p {
  margin-top: 16px;
}
.block_author.lp-05 .skills-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}
.block_author.lp-05 .skill {
  padding-left: 80px;
  position: relative;
  color: var(--color_text-pale);
}
.block_author.lp-05 .skill img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* Block "After Course" */
.block_after-course.lp-05 {
  padding: 60px 0;
}
.block_after-course.lp-05 .ac-text {
  text-align: center;
}
.block_after-course.lp-05 .ac-wrapper {
  margin-top: 80px;
  position: relative;
}
.block_after-course.lp-05 .bg-img-01 {
  z-index: 0;
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 480px;
  height: auto;
}
.block_after-course.lp-05 .items-list {
  margin-right: 30%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
}
.block_after-course.lp-05 .item {
  z-index: 2;
  padding-left: 60px;
  position: relative;
}
.block_after-course.lp-05 .item img {
  position: absolute;
  top: 0;
  left: 0;
}
/* Block "Price" */
.block_price.lp-05 {
  margin-top: 40px;
}
.block_price.lp-05 .price-wrapper {
  padding: 60px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.block_price.lp-05 .bg-img-01 {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 880px;
  height: auto;
}
.block_price.lp-05 .bg-img-02 {
  display: none;
}
.block_price.lp-05 .item-price {
  margin-left: auto;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 40px 20px;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.block_price.lp-05 .old-price {
  margin-top: 30px;
}
.block_price.lp-05 .old-price .suptitle {
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
}
.block_price.lp-05 .old-price .price {
  color: var(--color_text-pale);
  text-decoration: line-through;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-top: 10px;
}
.block_price.lp-05 .new-price {
  margin-top: 30px;
}
.block_price.lp-05 .new-price .suptitle {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.block_price.lp-05 .new-price .price {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  margin-top: 10px;
}
.block_price.lp-05 .btn_buy-course {
  margin-top: 30px;
  background: var(--gradient_button);
  box-shadow: var(--shadow_button);
  color: white;
  width: 100%;
  max-width: 320px;
  height: 60px;
  font-weight: 700;
  padding: 12px;
  border-radius: 8px;
  white-space: nowrap;
  text-align: center;
}
.block_price.lp-05 .btn_buy-course:hover {
  box-shadow: var(--shadow_button-hover);
}
.block_price.lp-05 .btn_buy-course:active {
  box-shadow: var(--shadow_button-active);
}
.block_price.lp-05 .subtitle {
  margin-top: 15px;
  font-size: 18px;
  line-height: 26px;
}
/* Media */
@media screen and (max-width: 1199.8px) {
  /* Block "Main" */
  .block_main.lp-05 {
    background-position: 256px bottom;
  }
}
@media screen and (max-width: 991.8px) {
  /* Block "Main" */
  .block_main.lp-05 {
    background-position: 192px bottom;
  }
  .block_main.lp-05 .main-text {
    padding-top: 48px;
    padding-bottom: 64px;
    max-width: 528px;
  }
  .block_main.lp-05 .main-text .heading-main {
    font-size: 45px;
    line-height: 55px;
  }
  .block_main.lp-05 .main-text p + p {
    margin-top: 40px;
  }
  .block_main.lp-05 .btn_main {
    max-width: 280px;
  }
  /* Block "Two in One" */
  .two-in-one {
    padding: 60px 0;
  }
  /* Block "If" */
  .block_if.lp-05 .if-wrapper {
    grid-gap: 60px;
  }
  .block_if.lp-05 .item p {
    margin-left: 16px;
  }
  .block_if.lp-05 .if-text {
    margin-top: 60px;
  }
  /* Block "What Awaits You" */
  .block_what-awaits-you.lp-05 {
    padding-top: 100px;
  }
  .block_what-awaits-you.lp-05 .way-wrapper {
    grid-gap: 20px;
  }
  .block_what-awaits-you.lp-05 ul li {
    font-size: 16px;
    line-height: 24px;
  }
  /* Block "Author" */
  .block_author.lp-05 {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .block_author.lp-05 .item-info {
    padding: 0;
  }
  .block_author.lp-05 .skills-list {
    margin-top: 24px;
  }
  .block_author.lp-05 .skill {
    margin-top: 8px;
    padding-left: 60px;
  }
  .block_author.lp-05 .skill img {
    width: 40px;
  }
  /* Block "After Course" */
  .block_after-course.lp-05 .items-list {
    margin-right: 40%;
  }
  .block_after-course.lp-05 .bg-img-01 {
    right: -10%;
    max-width: 440px;
  }
  .block_after-course.lp-05 .item {
    padding-left: 48px;
  }
  .block_after-course.lp-05 .item img {
    width: 30px;
  }
  /* Block "Price" */
  .block_price.lp-05 .bg-img-01 {
    right: -15%;
  }
  .block_price.lp-05 .item-price {
    padding: 30px;
    width: 100%;
    max-width: 360px;
  }
  .block_price.lp-05 .old-price {
    margin-top: 24px;
  }
  .block_price.lp-05 .old-price .price {
    font-size: 40px;
    line-height: 48px;
    margin-top: 8px;
  }
  .block_price.lp-05 .new-price {
    margin-top: 24px;
  }
  .block_price.lp-05 .new-price .price {
    font-size: 56px;
    line-height: 64px;
    margin-top: 8px;
  }
  .block_price.lp-05 .btn_buy-course {
    margin-top: 20px;
    max-width: 260px;
    height: auto;
    font-size: 18px;
    line-height: 26px;
  }
  .block_price.lp-05 .btn_buy-course:hover {
    box-shadow: var(--shadow_button-hover);
  }
  .block_price.lp-05 .btn_buy-course:active {
    box-shadow: var(--shadow_button-active);
  }
  .block_price.lp-05 .subtitle {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 767.8px) {
  /* Block "Main" */
  .block_main.lp-05 {
    background-position: center bottom;
  }
  .block_main.lp-05 .main-text {
    background: linear-gradient(180deg, var(--color_bg-beige), transparent 50%);
    padding: 20px 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .block_main.lp-05 .main-text p + p {
    margin-top: 32px;
  }
  .block_main.lp-05 .main-text p + a {
    margin-top: 280px;
  }
  /* Block "What Awaits You" */
  .block_what-awaits-you.lp-05 {
    padding-top: 80px;
  }
  .block_what-awaits-you.lp-05 .way-wrapper {
    grid-template-columns: 1fr;
  }
  .block_what-awaits-you.lp-05 .bg-img {
    order: 1;
    margin: 0 auto;
    max-width: 480px;
  }
  .block_what-awaits-you.lp-05 .item {
    order: 2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    grid-gap: 20px;
  }
  /* Block "Author" */
  .block_author.lp-05 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .block_author.lp-05 .author-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 30px;
    text-align: left;
    padding-top: 40px;
  }
  .block_author.lp-05 .item-photo {
    order: 1;
    height: 400px;
    margin: 0 auto;
  }
  .block_author.lp-05 .item-info {
    order: 2;
  }
  .block_author.lp-05 .item-info p + p {
    margin-top: 8px;
  }
  .block_author.lp-05 .skills-list {
    margin-top: 16px;
  }
  .block_author.lp-05 .skill {
    margin: 16px 0;
  }
  /* Block "After Course" */
  .block_after-course.lp-05 {
    padding: 40px 0;
  }
  .block_after-course.lp-05 .ac-wrapper {
    margin-top: 20px;
  }
  .block_after-course.lp-05 .bg-img-01 {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    margin: 0 auto;
    max-width: 400px;
  }
  .block_after-course.lp-05 .items-list {
    margin: 0;
  }
  /* Block "Price" */
  .block_price.lp-05 {
    margin: 0;
    padding: 40px 0;
  }
  .block_price.lp-05 .price-wrapper {
    padding: 0;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .block_price.lp-05 .item-price {
    position: relative;
    margin: 0;
    margin-top: -60px;
  }
  .block_price.lp-05 .bg-img-01 {
    display: none;
  }
  .block_price.lp-05 .bg-img-02 {
    display: block;
    width: 100%;
    max-width: 480px;
    height: auto;
  }
}
@media screen and (max-width: 575.8px) {
  /* Block "Main" */
  .block_main.lp-05 {
    background-image: url('../images/lp-05/img_main-bg-sm.jpg');
  }
  .block_main.lp-05 .main-text .heading-main {
    font-size: 28px;
    line-height: 36px;
  }
  .block_main.lp-05 .main-text p + a {
    margin-top: 256px;
  }
  .block_main.lp-05 .btn_main {
    max-width: 240px;
    height: 48px;
    padding: 8px;
  }
  /* Block "Two in One" */
  .two-in-one {
    padding: 40px 0;
  }
  /* Block "If" */
  .block_if.lp-05 .if-wrapper {
    grid-gap: 40px;
  }
  .block_if.lp-05 .item p {
    margin-left: 12px;
  }
  .block_if.lp-05 .if-text {
    margin-top: 40px;
  }
  /* Block "Author" */
  .block_author.lp-05 .item-photo {
    height: 320px;
  }
  .block_author.lp-05 .skill {
    margin: 12px 0;
  }
}
