:root {
  --color_blue: #1e55f4;
  --color_cyan: #1592e6;
  --color_green: #00b34f;
  --color_teal: #00a09b;
  --color_blue-gray: #566876;
  --color_bg-beige: #eee7d4;
  --color_bg-gray: #dcdcdc;
  --color_bg-light: #f4f8fb;
  --color_bg-mint: #ecf8f7;
  --color_bg-silver: #deeaf0;
  --color_bg-swamp: #1a2600;
  --color_text-dark: #233746;
  --color_text-pale: #919ba3;
  --gradient_button: linear-gradient(90deg, var(--color_blue), var(--color_green));
  --shadow_button: 0 10px 20px rgba(35, 55, 70, 0.35);
  --shadow_button-hover: 0 12px 24px rgba(35, 55, 70, 0.3);
  --shadow_button-active: 0 8px 16px rgba(35, 55, 70, 0.4);
  --shadow: 0 10px 20px rgba(86, 104, 118, 0.15);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Circe', sans-serif;
  color: var(--color_text-dark);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
#back-to-top {
  cursor: pointer;
  display: none;
  z-index: 99999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.4;
  transition: none;
  filter: drop-shadow(0 8px 12px white);
}
#back-to-top:hover {
  transition: all 0.1s ease;
  opacity: 0.8;
}
#back-to-top:active {
  transition: all 0.1s ease;
  opacity: 0.6;
}
#back-to-top img {
  width: 80px;
  height: 80px;
}
a,
a::before,
a::after {
  display: inline-block;
  text-decoration: none;
  transition: all 0.1s ease;
}
p span,
ul li span {
  font-weight: 700;
}
ul li {
  font-size: 18px;
  line-height: 26px;
  margin-left: 18px;
  padding-left: 12px;
}
ul.arrow-blue li {
  list-style: url('../images/arrow_right-blue.svg');
}
ul.arrow-cyan li {
  list-style: url('../images/arrow_right-cyan.svg');
}
ul.arrow-green li {
  list-style: url('../images/arrow_right-green.svg');
}
ul.arrow-teal li {
  list-style: url('../images/arrow_right-teal.svg');
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
  z-index: 1;
}
.text-blue {
  color: var(--color_blue);
}
.text-cyan {
  color: var(--color_cyan);
}
.text-green {
  color: var(--color_green);
}
.text-teal {
  color: var(--color_teal);
}
.heading-lg {
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
}
.heading-md {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}
.heading-sm {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.subheading {
  font-size: 24px;
  line-height: 32px;
}
span.handwriting {
  font-family: 'Caveat', sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 0;
  position: relative;
}
span.handwriting img {
  display: inline-block;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}
.circles {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  font-family: 'Caveat', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 80px;
  min-width: 80px;
  min-height: 80px;
  text-align: center;
}
.circles-blue {
  background-image: url('../images/circles-blue.svg');
}
.circles-cyan {
  background-image: url('../images/circles-cyan.svg');
}
.circles-green {
  background-image: url('../images/circles-green.svg');
}
.circles-teal {
  background-image: url('../images/circles-teal.svg');
}
/* Block "Main" */
.block_main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid rgba(35, 55, 70, 0.1);
}
.block_main .header-logo {
  width: 100%;
  max-width: 264px;
  object-fit: contain;
  object-position: center;
}
.block_main .header-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.block_main .link {
  color: var(--color_text-dark);
  font-size: 17px;
  line-height: 25px;
  margin-left: 40px;
  padding-right: 40px;
  position: relative;
  white-space: nowrap;
}
.block_main .link svg {
  fill: var(--color_text-dark);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.1s ease;
}
.block_main .link:hover {
  color: var(--color_blue-gray);
}
.block_main .link:hover svg {
  fill: var(--color_blue-gray);
}
.block_main .link:active {
  color: var(--color_text-dark);
}
.block_main .link:active svg {
  fill: var(--color_text-dark);
}
/* Footer */
.footer-wrapper {
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  align-items: center;
  font-size: 18px;
  line-height: 26px;
  color: var(--color_text-pale);
}
.footer-wrapper .copyright {
  color: var(--color_text-pale);
}
.footer-wrapper .copyright img {
  margin-top: 20px;
}
.footer-wrapper .terms-of-use {
  text-align: center;
}
.footer-wrapper .terms-of-use a {
  color: var(--color_text-pale);
  text-decoration: underline;
}
.footer-wrapper .terms-of-use a:hover {
  text-decoration: none;
}
.footer-wrapper .terms-of-use a:active {
  color: var(--color_text-dark);
}
.footer-wrapper .terms-of-use a + a {
  margin-top: 10px;
}
.footer-wrapper .footer_social-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-wrapper .footer_social-list img {
  width: 46px;
  height: auto;
  margin-left: 14px;
  transition: all 0.2s ease;
}
.footer-wrapper .footer_social-list img:hover {
  filter: brightness(0.75);
}
.footer-wrapper .footer_social-list img:active {
  filter: brightness(0.5);
}
/* Media */
@media screen and (max-width: 1199.8px) {
  .container {
    overflow: hidden;
  }
}
@media screen and (max-width: 991.8px) {
  body {
    font-size: 18px;
    line-height: 26px;
  }
  #back-to-top {
    right: 16px;
    bottom: 16px;
  }
  #back-to-top img {
    width: 56px;
    height: 56px;
  }
  .heading-lg {
    font-size: 40px;
    line-height: 46px;
  }
  .heading-md {
    font-size: 32px;
    line-height: 38px;
  }
  .heading-sm {
    font-size: 26px;
    line-height: 32px;
  }
  .subheading {
    font-size: 20px;
    line-height: 26px;
  }
  span.handwriting {
    font-size: 60px;
  }
  .circles {
    font-size: 40px;
    line-height: 56px;
    min-width: 56px;
    min-height: 56px;
  }
  /* Block "Main" */
  .block_main .header-logo {
    max-width: 224px;
  }
  .block_main .link {
    font-size: 15px;
    line-height: 23px;
    margin-left: 30px;
    padding-right: 30px;
  }
  .block_main .link svg {
    width: 18px;
  }
  /* Footer */
  .footer-wrapper {
    padding: 80px 0;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px 40px;
  }
  .footer-wrapper .copyright {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-wrapper .copyright img {
    margin: 0;
  }
  .footer-wrapper .terms-of-use {
    text-align: left;
  }
}
@media screen and (max-width: 767.8px) {
  /* Footer */
  .footer-wrapper {
    padding: 0;
    padding-bottom: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
  }
  .footer-wrapper .copyright {
    grid-column: span 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .footer-wrapper .copyright img {
    margin-top: 20px;
  }
  .footer-wrapper .terms-of-use {
    text-align: center;
  }
  .footer-wrapper .footer_social-list {
    justify-content: center;
  }
  .footer-wrapper .footer_social-list img {
    width: 40px;
    margin-left: 12px;
  }
}
@media screen and (max-width: 575.8px) {
  #back-to-top {
    right: 12px;
    bottom: 12px;
  }
  .heading-lg {
    font-size: 28px;
    line-height: 36px;
  }
  .heading-md {
    font-size: 24px;
    line-height: 32px;
  }
  .heading-sm {
    font-size: 22px;
    line-height: 28px;
  }
  .subheading {
    font-size: 18px;
    line-height: 24px;
  }
  span.handwriting {
    font-size: 40px;
  }
  /* Block "Main" */
  .block_main .header-logo {
    max-width: 192px;
  }
  .block_main .header-links {
    height: 44px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .block_main .link {
    font-size: 13px;
    line-height: 21px;
    margin-left: 0;
    padding-right: 24px;
  }
  .block_main .link svg {
    width: 14px;
  }
}
