//Custom color palette:
@color_blue: var(--color_blue);
@color_cyan: var(--color_cyan);
@color_green: var(--color_green);
@color_teal: var(--color_teal);

@color_blue-gray: var(--color_blue-gray);

@color_bg-beige: var(--color_bg-beige);
@color_bg-gray: var(--color_bg-gray);
@color_bg-light: var(--color_bg-light);
@color_bg-mint: var(--color_bg-mint);
@color_bg-silver: var(--color_bg-silver);
@color_bg-swamp: var(--color_bg-swamp);

@color_text-dark: var(--color_text-dark);
@color_text-pale: var(--color_text-pale);

@gradient_button: var(--gradient_button);

@shadow_button: var(--shadow_button);
@shadow_button-hover: var(--shadow_button-hover);
@shadow_button-active: var(--shadow_button-active);

@shadow: var(--shadow);

/* Block "Main" */
.block_main {
    background-color: white;
    background-image: url('../images/onlinetraining/img_main-bg.jpg');
    background-position: 100% bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, white 40%, transparent 60%);
        z-index: 0;
    }

    .main-text {
        padding-top: 56px;
        padding-bottom: 80px;
        width: 100%;
        height: 100%;
        max-width: 616px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .heading-main {
            font-size: 56px;
            font-weight: 300;
            line-height: 64px;
        }

        p+p {
            margin-top: 20px;
        }

        p+a {
            margin-top: 40px;
        }

    }

    .btn_main {
        justify-self: end;
        background: @gradient_button;
        box-shadow: @shadow_button;
        color: white;
        width: 100%;
        max-width: 288px;
        height: 60px;
        font-weight: 700;
        padding: 12px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;

        span+img {
            margin-left: 12px;
        }

        &:hover {
            box-shadow: @shadow_button-hover;
        }

        &:active {
            box-shadow: @shadow_button-active;
        }
    }
}

/* Block "If" */
.block_if {
    background-image: url('../images/bg_decor-horizontal.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;

    .if-text {
        text-align: center;
    }

    .if-wrapper {
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 40px;
    }

    .item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        p {
            margin-left: 20px;
            font-size: 22px;
            line-height: 30px;
        }
    }
}

/* Block "Reason" */
.block_reason {
    background-color: @color_bg-light;

    .container {
        overflow: visible;
    }

    .reason-wrapper {
        padding: 80px 0;
        position: relative;
    }

    .bg-img-01 {
        z-index: 0;
        position: absolute;
        left: -5%;
        bottom: 0;
        width: 100%;
        max-width: 480px;
        height: auto;
    }

    .bg-img-02 {
        display: none;
    }

    .reason-text {
        margin-left: 35%;
        text-align: left;
    }

    .items-list {
        margin-top: 20px;
        margin-left: 35%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }

    .item {
        z-index: 2;
        padding-left: 48px;
        position: relative;

        img {
            width: 16px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

/* Block "During Course" */
.block_during-course {
    padding: 80px 0;
    background-image: url('../images/bg_decor-horizontal.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .dc-text {
        text-align: center;
    }

    .dc-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 40px;
        margin-top: 40px;
    }

    .cascade {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 100%;
            max-width: 480px;
            height: auto;
            filter: drop-shadow(8px 4px 8px rgba(0, 0, 0, 0.25));
        }

        p {
            margin-top: 20px;
            text-align: center;
        }
    }

    .items-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 40px;
    }

    .item {
        padding-left: 64px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: auto;
        }
    }
}

/* Block "Video Preview" */
.block_video-preview {
    padding: 80px 0;

    .vp-text {
        text-align: center;
    }

    .vp-wrapper {
        display: grid;
        grid-template-columns: minmax(400px, 1fr) 1fr;
        grid-gap: 40px;
        margin-top: 60px;
    }

    .top-part {
        position: relative;
    }

    .video-link {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        transition: all 0.2s ease;

        span {
            color: white;
            margin-top: 10px;
        }

        &:hover {
            filter: brightness(0.75);
        }

        &:active {
            filter: brightness(0.5);
        }
    }

    .preview {
        height: 416px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: @shadow;

        img {
            width: 100%;
            height: 320px;
            object-fit: cover;
            object-position: center;
            filter: brightness(0.6);
        }

        .bottom-part {
            width: 100%;
            height: 96px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
        }
    }

    .item-01 .preview {
        background-color: @color_blue;
    }

    .item-02 .preview {
        background-color: @color_teal;
    }

    .item-03 .preview {
        background-color: @color_cyan;
    }

    .item-04 .preview {
        background-color: @color_green;
    }

    .items-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-content: center;
    }

    .item {
        padding-left: 32px;
        position: relative;
        font-size: 18px;
        line-height: 26px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: auto;
        }
    }
}

.modal-wrapper {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0 5%;

    overflow-y: scroll;
}

.modal {
    display: block;
    margin: 80px auto;
    width: 100%;
    max-width: 960px;
    height: 540px;

    position: relative;

    .btn_close {
        position: absolute;
        z-index: 9999;
        top: -28px;
        right: 4px;

        background-image: url('../images/btn_close.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    iframe {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
}

/* Block "What Awaits You" */
.block_what-awaits-you {
    padding: 40px 0;

    .way-text {
        text-align: center;
    }

    .way-wrapper {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        position: relative;
    }

    .way-wrapper.right-side {
        align-items: flex-end;
    }

    .way-wrapper+.way-wrapper {
        margin-top: 80px;
    }

    .bg-img-01 {
        position: absolute;
        top: 50%;
        right: -15%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 720px;
        height: auto;
    }

    .bg-img-02 {
        position: absolute;
        top: 50%;
        left: -5%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 560px;
        height: auto;
    }

    .bg-img-03 {
        position: absolute;
        top: 50%;
        right: -5%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 560px;
        height: auto;
    }

    .item {
        z-index: 2;
        width: 50%;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-start;
        grid-gap: 20px;

        .title+p {
            margin-top: 10px;
        }
    }

    .title {
        min-height: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .item+.item {
        margin-top: 40px;
    }
}

/* Block "Price" */
.block_price {
    background-color: @color_bg-light;
    margin-top: 40px;

    .price-wrapper {
        padding: 60px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        position: relative;
    }

    .bg-img-01 {
        z-index: 0;
        position: absolute;
        left: -5%;
        bottom: 0;
        width: 100%;
        max-width: 880px;
        height: auto;
    }

    .bg-img-02 {
        display: none;
    }

    .item-price {
        z-index: 2;
        background-color: white;
        border-radius: 10px;
        box-shadow: @shadow;
        padding: 40px 20px;
        width: 100%;
        max-width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .old-price {
        margin-top: 30px;

        .suptitle {
            font-size: 13px;
            line-height: 21px;
            text-transform: uppercase;
        }

        .price {
            color: @color_text-pale;
            text-decoration: line-through;
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            margin-top: 10px;
        }
    }

    .new-price {
        margin-top: 30px;

        .suptitle {
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
        }

        .price {
            font-size: 64px;
            font-weight: 700;
            line-height: 72px;
            margin-top: 10px;
        }
    }

    .btn_buy-course {
        margin-top: 30px;
        background: @gradient_button;
        box-shadow: @shadow_button;
        color: white;
        width: 100%;
        max-width: 320px;
        height: 60px;
        font-weight: 700;
        padding: 12px;
        border-radius: 8px;
        white-space: nowrap;
        text-align: center;

        &:hover {
            box-shadow: @shadow_button-hover;
        }

        &:active {
            box-shadow: @shadow_button-active;
        }
    }

    .subtitle {
        margin-top: 15px;
        font-size: 18px;
        line-height: 26px;
    }
}

/* Media */
@media screen and (max-width: 1439.8px) {

    /* Block "Main" */
    .block_main {
        background-position: 496px bottom;
    }
}

@media screen and (max-width: 1199.8px) {

    /* Block "Main" */
    .block_main {
        background-position: 416px bottom;
    }
}

@media screen and (max-width: 991.8px) {

    /* Block "Main" */
    .block_main {
        background-position: 336px bottom;

        .main-text {
            padding-top: 48px;
            padding-bottom: 64px;
            max-width: 496px;

            .heading-main {
                font-size: 44px;
                line-height: 44px;
            }

            p+p {
                margin-top: 40px;
            }
        }

        .btn_main {
            max-width: 240px;
        }
    }

    /* Block "If" */
    .block_if {
        padding: 60px 0;

        .if-wrapper {
            grid-gap: 32px;
        }

        .item {
            p {
                margin-left: 16px;
                font-size: 20px;
                line-height: 28px;
            }
        }
    }

    /* Block "Reason" */
    .block_reason {
        .reason-wrapper {
            padding: 60px 0;
        }

        .bg-img-01 {
            max-width: 400px;
            left: 0;
        }

        .reason-text {
            margin-left: 40%;
        }

        .items-list {
            margin-left: 40%;
            grid-gap: 20px;
        }

        .item {
            padding-left: 40px;

            img {
                width: 12px;
            }
        }
    }

    /* Block "During Course" */
    .block_during-course {
        padding: 60px 0;

        .dc-wrapper {
            grid-template-columns: 1fr;
        }
    }

    /* Block "Video Preview" */
    .block_video-preview {
        padding: 60px 0;

        .vp-wrapper {
            grid-template-columns: minmax(300px, 1fr) 1.5fr;
            grid-gap: 20px;
            margin-top: 40px;
        }

        .preview {
            height: 320px;

            img {
                width: 100%;
                height: 240px;
            }

            .bottom-part {
                height: 80px;
                font-size: 14px;
                line-height: 22px;
            }
        }

        .items-list {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 16px;
            align-content: center;
        }

        .item {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .modal {
        margin: 60px auto;
        height: 480px;
    }

    /* Block "What Awaits You" */
    .block_what-awaits-you {
        .way-wrapper+.way-wrapper {
            margin-top: 60px;
        }

        .bg-img-01 {
            right: -20%;
            max-width: 640px;
        }

        .bg-img-02 {
            left: -10%;
            max-width: 480px;
        }

        .bg-img-03 {
            right: -10%;
            max-width: 480px;
        }

        .item {
            width: 60%;
            grid-gap: 16px;
        }

        .title {
            min-height: 56px;
        }
    }

    /* Block "Price" */
    .block_price {
        .bg-img-01 {
            left: -15%;
        }

        .item-price {
            padding: 30px;
            width: 100%;
            max-width: 360px;
        }

        .old-price {
            margin-top: 24px;

            .price {
                font-size: 40px;
                line-height: 48px;
                margin-top: 8px;
            }
        }

        .new-price {
            margin-top: 24px;

            .price {
                font-size: 56px;
                line-height: 64px;
                margin-top: 8px;
            }
        }

        .btn_buy-course {
            margin-top: 20px;
            max-width: 260px;
            height: auto;
            font-size: 18px;
            line-height: 26px;

            &:hover {
                box-shadow: @shadow_button-hover;
            }

            &:active {
                box-shadow: @shadow_button-active;
            }
        }

        .subtitle {
            margin-top: 8px;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 767.8px) {

    /* Block "Main" */
    .block_main {
        background-position: center bottom;

        .overlay {
            background: linear-gradient(180deg, white 40%, transparent 60%);
        }

        .main-text {
            padding: 20px 0;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            p+p {
                margin-top: 32px;
            }

            p+a {
                margin-top: 280px;
            }
        }
    }

    /* Block "Reason" */
    .block_reason {
        .reason-wrapper {
            padding: 40px 0;
        }

        .bg-img-01 {
            display: none;
        }

        .bg-img-02 {
            display: block;
            position: relative;
            margin-top: -80px;
            width: 100%;
            max-width: 400px;
        }

        .reason-text {
            margin: 0;
            position: absolute;
            top: 40px;
            left: 40%;
        }

        .items-list {
            margin: 0;
            margin-top: 40px;
        }
    }

    /* Block "During Course" */
    .block_during-course {
        padding: 40px 0;

        .items-list {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }

        .item {
            min-height: 64px;
        }
    }

    /* Block "Video Preview" */
    .block_video-preview {
        padding: 40px 0;

        .vp-wrapper {
            grid-template-columns: 1fr;
        }

        .preview {
            width: 100%;
            max-width: 480px;
            justify-self: center;
        }

        .items-list {
            margin-top: 20px;
            grid-template-columns: 1fr 1fr;
        }

        .item {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .modal {
        margin: 40px auto;
        height: 420px;
    }

    /* Block "What Awaits You" */
    .block_what-awaits-you {
        padding: 40px 0;

        .way-wrapper {
            margin-top: 40px;
            flex-direction: column;
        }

        .way-wrapper.right-side {
            align-items: flex-start;
        }

        .way-wrapper+.way-wrapper {
            margin-top: 40px;
        }

        .bg-img-01,
        .bg-img-02,
        .bg-img-03 {
            order: 1;
            position: static;
            top: 0;
            right: 0;
            transform: none;
            margin: 0 auto;
            max-width: 480px;
        }

        .item {
            order: 2;
            margin-top: 20px;
            width: 100%;
        }
    }

    /* Block "Price" */
    .block_price {
        margin: 0;
        padding: 40px 0;

        .price-wrapper {
            padding: 0;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            position: relative;
        }

        .item-price {
            position: relative;
            margin: 0;
            margin-top: -60px;
        }

        .bg-img-01 {
            display: none;
        }

        .bg-img-02 {
            display: block;
            width: 100%;
            max-width: 480px;
            height: auto;
        }
    }
}

@media screen and (max-width: 575.8px) {

    /* Block "Main" */
    .block_main {
        background-image: url('../images/onlinetraining/img_main-bg-sm.jpg');

        .main-text {
            .heading-main {
                font-size: 36px;
                line-height: 36px;
            }

            p+a {
                margin-top: 256px;
            }
        }

        .btn_main {
            max-width: 224px;
            height: 48px;
            padding: 8px;
        }
    }

    /* Block "If" */
    .block_if {
        padding: 40px 0;

        .if-wrapper {
            grid-gap: 24px;
        }

        .item {
            p {
                margin-left: 12px;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

    /* Block "Reason" */
    .block_reason {
        .bg-img-02 {
            max-width: 320px;
        }

        .reason-text {
            left: 50%;
        }
    }

    /* Block "Video Preview" */
    .block_video-preview {
        .preview {
            height: 288px;

            img {
                height: 224px;
            }

            .bottom-part {
                height: 64px;
            }
        }

        .items-list {
            grid-template-columns: 1fr;
        }
    }

    .modal {
        height: 360px;
    }

    /* Block "What Awaits You" */
    .block_what-awaits-you {
        .item {
            .title+p {
                margin-top: 10px;
                position: relative;
                margin-left: -76px;
            }
        }
    }
}