/* Block "Main" */
.block_main.lp-03 {
  background-color: var(--color_bg-silver);
  background-image: url('../images/lp-03/img_main-bg.jpg');
  background-position: 100% bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.block_main.lp-03 .main-text {
  background: linear-gradient(90deg, var(--color_bg-silver) 50%, transparent);
  padding-top: 56px;
  padding-bottom: 80px;
  width: 100%;
  height: 100%;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.block_main.lp-03 .main-text .heading-main {
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
}
.block_main.lp-03 .main-text p + p {
  margin-top: 20px;
}
.block_main.lp-03 .main-text p + a {
  margin-top: 40px;
}
.block_main.lp-03 .btn_main {
  justify-self: end;
  background: var(--gradient_button);
  box-shadow: var(--shadow_button);
  color: white;
  width: 100%;
  max-width: 256px;
  height: 60px;
  font-weight: 700;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.block_main.lp-03 .btn_main span + img {
  margin-left: 12px;
}
.block_main.lp-03 .btn_main:hover {
  box-shadow: var(--shadow_button-hover);
}
.block_main.lp-03 .btn_main:active {
  box-shadow: var(--shadow_button-active);
}
/* Block "If" */
.block_if.lp-03 {
  background-image: url('../images/bg_decor-horizontal.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.block_if.lp-03 .if-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(160px, 1fr));
  grid-gap: 80px;
  align-items: flex-start;
  justify-items: center;
  position: relative;
}
.block_if.lp-03 .item {
  text-align: center;
}
.block_if.lp-03 .item:nth-child(1),
.block_if.lp-03 .item:nth-child(3),
.block_if.lp-03 .item:nth-child(5) {
  align-self: flex-end;
}
.block_if.lp-03 .if-arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.block_if.lp-03 .arrows-host {
  position: relative;
}
.block_if.lp-03 .arrows-host img {
  position: absolute;
}
.block_if.lp-03 .arrows-host img:nth-child(1) {
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
}
.block_if.lp-03 .arrows-host img:nth-child(2) {
  top: -80px;
  right: -100px;
}
.block_if.lp-03 .arrows-host img:nth-child(3) {
  top: 0;
  right: -100px;
}
.block_if.lp-03 .arrows-host img:nth-child(4) {
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.block_if.lp-03 .arrows-host img:nth-child(5) {
  top: 0;
  left: -100px;
}
.block_if.lp-03 .arrows-host img:nth-child(6) {
  top: -80px;
  left: -100px;
}
.block_if.lp-03 .if-text {
  text-align: center;
  margin-top: 80px;
}
/* Block "Author" */
.block_author.lp-03 {
  background-color: var(--color_bg-light);
  padding-top: 70px;
  padding-bottom: 80px;
  text-align: center;
}
.block_author.lp-03 .author-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  text-align: left;
  padding-top: 40px;
}
.block_author.lp-03 .item-photo {
  width: 100%;
  max-width: 560px;
  height: 440px;
  object-fit: cover;
  object-position: center top;
  border-radius: 8px;
}
.block_author.lp-03 .item-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0;
}
.block_author.lp-03 .item-info p + p {
  margin-top: 16px;
}
.block_author.lp-03 .skills-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}
.block_author.lp-03 .skill {
  padding-left: 80px;
  position: relative;
  color: var(--color_blue-gray);
}
.block_author.lp-03 .skill img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* Block "What Awaits You" */
.block_what-awaits-you.lp-03 {
  padding: 80px 0;
  text-align: center;
}
.block_what-awaits-you.lp-03 .way-wrapper {
  margin-top: 80px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.block_what-awaits-you.lp-03 .way-wrapper.right-side {
  justify-content: flex-end;
}
.block_what-awaits-you.lp-03 .way-wrapper + .way-wrapper {
  margin-top: 80px;
}
.block_what-awaits-you.lp-03 .bg-img-01,
.block_what-awaits-you.lp-03 .bg-img-03 {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 640px;
  height: auto;
}
.block_what-awaits-you.lp-03 .bg-img-02 {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 640px;
  height: auto;
}
.block_what-awaits-you.lp-03 .item {
  z-index: 2;
  flex-basis: 50%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  grid-gap: 20px;
}
.block_what-awaits-you.lp-03 ul {
  margin-top: 20px;
}
.block_what-awaits-you.lp-03 ul li + li {
  margin-top: 28px;
}
/* Block "During Course" */
.block_during-course.lp-03 {
  padding: 80px 0;
  background-color: var(--color_teal);
  background-image: url('../images/lp-03/img_during-course-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
}
.block_during-course.lp-03 .dc-text {
  text-align: center;
  color: white;
}
.block_during-course.lp-03 .dc-wrapper {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.block_during-course.lp-03 .item {
  width: calc(100% / 3);
  min-height: 64px;
  padding-left: 96px;
  padding-right: 10px;
  margin-bottom: 40px;
  position: relative;
  color: white;
}
.block_during-course.lp-03 .item img {
  position: absolute;
  top: 0;
  left: 10px;
  width: 64px;
  height: 64px;
  object-position: left top;
}
/* Block "Reviews" */
.block_reviews.lp-03 {
  background-image: url('../images/bg_decor-horizontal.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 60px 0 40px 0;
  text-align: center;
}
.block_reviews.lp-03 .slider {
  margin-top: 20px;
  width: 1280;
}
.block_reviews.lp-03 .slide {
  width: 100%;
  max-width: 560px;
  margin: 30px;
}
.block_reviews.lp-03 .slide img {
  width: 100%;
  border-radius: 8px;
  box-shadow: var(--shadow);
}
.block_reviews.lp-03 .slider-btns {
  width: 100%;
  min-height: 256px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block_reviews.lp-03 .slider-btns .btn-prev,
.block_reviews.lp-03 .slider-btns .btn-next {
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
  transition: all 0.2s ease;
}
.block_reviews.lp-03 .slider-btns .btn-prev:hover,
.block_reviews.lp-03 .slider-btns .btn-next:hover {
  filter: brightness(0.75);
}
.block_reviews.lp-03 .slider-btns .btn-prev:active,
.block_reviews.lp-03 .slider-btns .btn-next:active {
  filter: brightness(0.5);
}
/* Block "After Course" */
.block_after-course.lp-03 {
  padding: 60px 0;
}
.block_after-course.lp-03 .ac-text {
  text-align: center;
}
.block_after-course.lp-03 .ac-wrapper {
  margin-top: 80px;
  position: relative;
}
.block_after-course.lp-03 .bg-img-01 {
  z-index: 0;
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 480px;
  height: auto;
}
.block_after-course.lp-03 .items-list {
  margin-right: 30%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
}
.block_after-course.lp-03 .item {
  z-index: 2;
  padding-left: 60px;
  position: relative;
}
.block_after-course.lp-03 .item img {
  position: absolute;
  top: 0;
  left: 0;
}
/* Block "Price" */
.block_price.lp-03 {
  margin-top: 40px;
}
.block_price.lp-03 .price-wrapper {
  padding: 60px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.block_price.lp-03 .bg-img-01 {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 880px;
  height: auto;
}
.block_price.lp-03 .bg-img-02 {
  display: none;
}
.block_price.lp-03 .item-price {
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 40px 20px;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.block_price.lp-03 .old-price {
  margin-top: 30px;
}
.block_price.lp-03 .old-price .suptitle {
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
}
.block_price.lp-03 .old-price .price {
  color: var(--color_text-pale);
  text-decoration: line-through;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-top: 10px;
}
.block_price.lp-03 .new-price {
  margin-top: 30px;
}
.block_price.lp-03 .new-price .suptitle {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.block_price.lp-03 .new-price .price {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  margin-top: 10px;
}
.block_price.lp-03 .btn_buy-course {
  margin-top: 30px;
  background: var(--gradient_button);
  box-shadow: var(--shadow_button);
  color: white;
  width: 100%;
  max-width: 320px;
  height: 60px;
  font-weight: 700;
  padding: 12px;
  border-radius: 8px;
  white-space: nowrap;
  text-align: center;
}
.block_price.lp-03 .btn_buy-course:hover {
  box-shadow: var(--shadow_button-hover);
}
.block_price.lp-03 .btn_buy-course:active {
  box-shadow: var(--shadow_button-active);
}
.block_price.lp-03 .subtitle {
  margin-top: 15px;
  font-size: 18px;
  line-height: 26px;
}
/* Media */
@media screen and (max-width: 1199.8px) {
  /* Block "Main" */
  .block_main.lp-03 {
    background-position: 256px bottom;
  }
}
@media screen and (max-width: 991.8px) {
  /* Block "Main" */
  .block_main.lp-03 {
    background-position: 192px bottom;
  }
  .block_main.lp-03 .main-text {
    padding-top: 48px;
    padding-bottom: 64px;
    max-width: 480px;
  }
  .block_main.lp-03 .main-text .heading-main {
    font-size: 45px;
    line-height: 55px;
  }
  .block_main.lp-03 .main-text p + p {
    margin-top: 40px;
  }
  .block_main.lp-03 .btn_main {
    max-width: 240px;
  }
  /* Block "If" */
  .block_if.lp-03 {
    padding: 60px 0;
  }
  .block_if.lp-03 .if-wrapper {
    grid-gap: 60px;
  }
  .block_if.lp-03 .arrows-host img:nth-child(1) {
    top: -90px;
  }
  .block_if.lp-03 .arrows-host img:nth-child(2) {
    top: -70px;
    right: -90px;
  }
  .block_if.lp-03 .arrows-host img:nth-child(3) {
    top: -10px;
    right: -90px;
  }
  .block_if.lp-03 .arrows-host img:nth-child(4) {
    top: 10px;
  }
  .block_if.lp-03 .arrows-host img:nth-child(5) {
    top: -10;
    left: -90px;
  }
  .block_if.lp-03 .arrows-host img:nth-child(6) {
    top: -70px;
    left: -90px;
  }
  .block_if.lp-03 .if-text {
    margin-top: 60px;
  }
  /* Block "Author" */
  .block_author.lp-03 {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .block_author.lp-03 .item-info {
    padding: 0;
  }
  .block_author.lp-03 .skills-list {
    margin-top: 24px;
  }
  .block_author.lp-03 .skill {
    margin-top: 8px;
    padding-left: 60px;
  }
  .block_author.lp-03 .skill img {
    width: 40px;
  }
  /* Block "What Awaits You" */
  .block_what-awaits-you.lp-03 {
    padding: 60px 0;
  }
  .block_what-awaits-you.lp-03 .way-wrapper {
    margin-top: 60px;
  }
  .block_what-awaits-you.lp-03 .way-wrapper + .way-wrapper {
    margin-top: 60px;
  }
  .block_what-awaits-you.lp-03 .bg-img-01,
  .block_what-awaits-you.lp-03 .bg-img-03 {
    left: -10%;
    max-width: 480px;
  }
  .block_what-awaits-you.lp-03 .bg-img-02 {
    right: -10%;
    max-width: 480px;
  }
  .block_what-awaits-you.lp-03 .item {
    flex-basis: 60%;
    grid-gap: 16px;
  }
  .block_what-awaits-you.lp-03 ul {
    margin-top: 20px;
  }
  .block_what-awaits-you.lp-03 ul li + li {
    margin-top: 20px;
  }
  /* Block "During Course" */
  .block_during-course.lp-03 {
    padding: 60px 0;
  }
  .block_during-course.lp-03 .dc-wrapper {
    margin-top: 40px;
  }
  .block_during-course.lp-03 .item {
    width: 50%;
    padding-left: 88px;
  }
  .block_during-course.lp-03 .item img {
    width: 56px;
    height: 56px;
  }
  /* Block "Reviews" */
  .block_reviews.lp-03 {
    padding: 40px 0 20px 0;
  }
  /* Block "After Course" */
  .block_after-course.lp-03 .items-list {
    margin-right: 40%;
  }
  .block_after-course.lp-03 .item {
    padding-left: 48px;
  }
  .block_after-course.lp-03 .item img {
    width: 30px;
  }
  /* Block "Price" */
  .block_price.lp-03 .bg-img-01 {
    left: -15%;
  }
  .block_price.lp-03 .item-price {
    padding: 30px;
    width: 100%;
    max-width: 360px;
  }
  .block_price.lp-03 .old-price {
    margin-top: 24px;
  }
  .block_price.lp-03 .old-price .price {
    font-size: 40px;
    line-height: 48px;
    margin-top: 8px;
  }
  .block_price.lp-03 .new-price {
    margin-top: 24px;
  }
  .block_price.lp-03 .new-price .price {
    font-size: 56px;
    line-height: 64px;
    margin-top: 8px;
  }
  .block_price.lp-03 .btn_buy-course {
    margin-top: 20px;
    max-width: 260px;
    height: auto;
    font-size: 18px;
    line-height: 26px;
  }
  .block_price.lp-03 .btn_buy-course:hover {
    box-shadow: var(--shadow_button-hover);
  }
  .block_price.lp-03 .btn_buy-course:active {
    box-shadow: var(--shadow_button-active);
  }
  .block_price.lp-03 .subtitle {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 767.8px) {
  /* Block "Main" */
  .block_main.lp-03 {
    background-position: center bottom;
  }
  .block_main.lp-03 .main-text {
    background: linear-gradient(180deg, var(--color_bg-silver), transparent 50%);
    padding: 20px 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .block_main.lp-03 .main-text p + p {
    margin-top: 32px;
  }
  .block_main.lp-03 .main-text p + a {
    margin-top: 280px;
  }
  /* Block "If" */
  .block_if.lp-03 .if-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    align-items: flex-start;
    justify-items: flex-start;
    padding-top: 80px;
  }
  .block_if.lp-03 .item {
    text-align: left;
    position: relative;
    width: 100%;
  }
  .block_if.lp-03 .item::after {
    content: '';
    background-image: url('../images/lp-03/line.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    width: 48px;
    height: 12px;
  }
  .block_if.lp-03 .item:nth-child(6)::after {
    content: none;
    width: 0;
    height: 0;
    transform: none;
  }
  .block_if.lp-03 .item:nth-child(1),
  .block_if.lp-03 .item:nth-child(3),
  .block_if.lp-03 .item:nth-child(5) {
    align-self: inherit;
  }
  .block_if.lp-03 .if-arrows {
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
  .block_if.lp-03 .arrows-host {
    display: none;
  }
  /* Block "Author" */
  .block_author.lp-03 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .block_author.lp-03 .author-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 30px;
    text-align: left;
    padding-top: 40px;
  }
  .block_author.lp-03 .item-photo {
    order: 1;
    height: 400px;
    margin: 0 auto;
  }
  .block_author.lp-03 .item-info {
    order: 2;
  }
  .block_author.lp-03 .item-info p + p {
    margin-top: 8px;
  }
  .block_author.lp-03 .skills-list {
    margin-top: 16px;
  }
  .block_author.lp-03 .skill {
    margin: 16px 0;
  }
  /* Block "What Awaits You" */
  .block_what-awaits-you.lp-03 {
    padding: 40px 0;
  }
  .block_what-awaits-you.lp-03 .way-wrapper {
    margin-top: 40px;
    flex-direction: column;
  }
  .block_what-awaits-you.lp-03 .way-wrapper.right-side {
    justify-content: flex-start;
  }
  .block_what-awaits-you.lp-03 .way-wrapper + .way-wrapper {
    margin-top: 40px;
  }
  .block_what-awaits-you.lp-03 .bg-img-01,
  .block_what-awaits-you.lp-03 .bg-img-02,
  .block_what-awaits-you.lp-03 .bg-img-03 {
    order: 1;
    position: static;
    top: 0;
    right: 0;
    transform: none;
    margin: 0 auto;
  }
  .block_what-awaits-you.lp-03 .item {
    order: 2;
    margin-top: 20px;
    flex-basis: 100%;
  }
  /* Block "During Course" */
  .block_during-course.lp-03 {
    background-position: 75% center;
  }
  .block_during-course.lp-03 .item {
    width: 100%;
    margin-bottom: 32px;
  }
  /* Block "Reviews" */
  .block_reviews.lp-03 {
    display: none;
  }
  /* Block "After Course" */
  .block_after-course.lp-03 {
    padding: 40px 0;
  }
  .block_after-course.lp-03 .ac-wrapper {
    margin-top: 20px;
  }
  .block_after-course.lp-03 .bg-img-01 {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    margin: 0 auto;
  }
  .block_after-course.lp-03 .items-list {
    margin: 0;
  }
  /* Block "Price" */
  .block_price.lp-03 {
    margin: 0;
    padding: 40px 0;
  }
  .block_price.lp-03 .price-wrapper {
    padding: 0;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .block_price.lp-03 .item-price {
    position: relative;
    margin: 0;
    margin-top: -60px;
  }
  .block_price.lp-03 .bg-img-01 {
    display: none;
  }
  .block_price.lp-03 .bg-img-02 {
    display: block;
    width: 100%;
    max-width: 480px;
    height: auto;
  }
}
@media screen and (max-width: 575.8px) {
  /* Block "Main" */
  .block_main.lp-03 {
    background-image: url('../images/lp-03/img_main-bg-sm.jpg');
  }
  .block_main.lp-03 .main-text .heading-main {
    font-size: 28px;
    line-height: 36px;
  }
  .block_main.lp-03 .main-text p + a {
    margin-top: 256px;
  }
  .block_main.lp-03 .btn_main {
    max-width: 224px;
    height: 48px;
    padding: 8px;
  }
  /* Block "If" */
  .block_if.lp-03 {
    padding: 40px 0;
  }
  .block_if.lp-03 .if-wrapper {
    grid-gap: 40px;
  }
  .block_if.lp-03 .if-wrapper span.handwriting {
    font-size: 60px;
  }
  .block_if.lp-03 .if-text {
    margin-top: 40px;
  }
  /* Block "Author" */
  .block_author.lp-03 .item-photo {
    height: 320px;
  }
  .block_author.lp-03 .skill {
    margin: 12px 0;
  }
  /* Block "What Awaits You" */
  .block_what-awaits-you.lp-03 ul {
    position: relative;
    margin-left: -76px;
  }
  /* Block "During Course" */
  .block_during-course.lp-03 {
    background-image: none;
    padding: 40px 0;
  }
  .block_during-course.lp-03 .item {
    padding-left: 80px;
    margin-bottom: 24px;
  }
  .block_during-course.lp-03 .item img {
    width: 48px;
    height: 48px;
  }
}
