//Custom color palette:
@color_blue: var(--color_blue);
@color_cyan: var(--color_cyan);
@color_green: var(--color_green);
@color_teal: var(--color_teal);

@color_blue-gray: var(--color_blue-gray);

@color_bg-beige: var(--color_bg-beige);
@color_bg-gray: var(--color_bg-gray);
@color_bg-light: var(--color_bg-light);
@color_bg-mint: var(--color_bg-mint);
@color_bg-silver: var(--color_bg-silver);
@color_bg-swamp: var(--color_bg-swamp);

@color_text-dark: var(--color_text-dark);
@color_text-pale: var(--color_text-pale);

@gradient_button: var(--gradient_button);

@shadow_button: var(--shadow_button);
@shadow_button-hover: var(--shadow_button-hover);
@shadow_button-active: var(--shadow_button-active);

@shadow: var(--shadow);

/* Block "Main" */
.block_main {
    background-color: @color_bg-silver;
    background-image: url('../images/training-foodemotion/img_main-bg.jpg');
    background-position: 100% bottom;
    background-repeat: no-repeat;
    background-size: contain;

    .main-text {
        background: linear-gradient(90deg, @color_bg-silver 50%, transparent);
        padding-top: 56px;
        padding-bottom: 80px;
        width: 100%;
        height: 100%;
        max-width: 580px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .heading-main {
            font-size: 56px;
            font-weight: 300;
            line-height: 64px;
        }

        p+p {
            margin-top: 20px;
        }

        p+a {
            margin-top: 40px;
        }

    }

    .btn_main {
        justify-self: end;
        background: @gradient_button;
        box-shadow: @shadow_button;
        color: white;
        width: 100%;
        max-width: 256px;
        height: 60px;
        font-weight: 700;
        padding: 12px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;

        span+img {
            margin-left: 12px;
        }

        &:hover {
            box-shadow: @shadow_button-hover;
        }

        &:active {
            box-shadow: @shadow_button-active;
        }
    }
}

/* Block "If" */
.block_if {
    background-image: url('../images/bg_decor-horizontal.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;

    .if-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(160px, 1fr));
        grid-gap: 80px;
        align-items: flex-start;
        justify-items: center;
        position: relative;
    }

    .item {
        text-align: center;
    }

    .item:nth-child(1),
    .item:nth-child(3),
    .item:nth-child(5) {
        align-self: flex-end;
    }

    .if-arrows {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .arrows-host {
        position: relative;

        img {
            position: absolute;
        }

        img:nth-child(1) {
            top: -120px;
            left: 50%;
            transform: translateX(-50%);
        }

        img:nth-child(2) {
            top: -80px;
            right: -100px;
        }

        img:nth-child(3) {
            top: 0;
            right: -100px;
        }

        img:nth-child(4) {
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
        }

        img:nth-child(5) {
            top: 0;
            left: -100px;
        }

        img:nth-child(6) {
            top: -80px;
            left: -100px;
        }
    }

    .if-text {
        text-align: center;
        margin-top: 80px;
    }
}

/* Block "Author" */
.block_author {
    background-color: @color_bg-light;
    padding-top: 70px;
    padding-bottom: 80px;
    text-align: center;

    .author-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        text-align: left;
        padding-top: 40px;
    }

    .item-photo {
        width: 100%;
        max-width: 560px;
        height: 440px;
        object-fit: cover;
        object-position: center top;
        border-radius: 8px;
    }

    .item-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 0;

        p+p {
            margin-top: 16px;
        }
    }

    .skills-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 40px;
    }

    .skill {
        padding-left: 80px;
        position: relative;
        color: @color_blue-gray;

        img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

/* Block "What Awaits You" */
.block_what-awaits-you {
    padding: 80px 0;
    text-align: center;

    .way-wrapper {
        margin-top: 80px;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        position: relative;
    }

    .way-wrapper.right-side {
        justify-content: flex-end;
    }

    .way-wrapper+.way-wrapper {
        margin-top: 80px;
    }

    .bg-img-01,
    .bg-img-03 {
        position: absolute;
        top: 50%;
        left: -5%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 640px;
        height: auto;
    }

    .bg-img-02 {
        position: absolute;
        top: 50%;
        right: -5%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 640px;
        height: auto;
    }

    .item {
        z-index: 2;
        flex-basis: 50%;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-start;
        grid-gap: 20px;
    }

    .title {
        min-height: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    ul {
        margin-top: 20px;
    }

    ul li+li {
        margin-top: 28px;
    }
}

/* Block "During Course" */
.block_during-course {
    padding: 80px 0;
    background-color: @color_teal;
    background-image: url('../images/training-foodemotion/img_during-course-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;

    .dc-text {
        text-align: center;
        color: white;
    }

    .dc-wrapper {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .item {
        width: calc(100% / 3);
        min-height: 64px;
        padding-left: 96px;
        padding-right: 10px;
        margin-bottom: 40px;
        position: relative;
        color: white;

        img {
            position: absolute;
            top: 0;
            left: 10px;
            width: 64px;
            height: 64px;
            object-position: left top;
        }
    }
}

/* Block "Reviews" */
.block_reviews {
    background-image: url('../images/bg_decor-horizontal.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 60px 0 40px 0;
    text-align: center;

    .slider {
        margin-top: 20px;
        width: 1280;
    }

    .slide {
        width: 100%;
        max-width: 560px;
        margin: 30px;

        img {
            width: 100%;
            border-radius: 8px;
            box-shadow: @shadow;
        }
    }

    .slider-btns {
        width: 100%;
        min-height: 256px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-prev,
        .btn-next {
            filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
            transition: all 0.2s ease;

            &:hover {
                filter: brightness(0.75);
            }

            &:active {
                filter: brightness(0.5);
            }
        }
    }
}

/* Block "After Course" */
.block_after-course {
    padding: 60px 0;

    .ac-text {
        text-align: center;
    }

    .ac-wrapper {
        margin-top: 80px;
        position: relative;
    }

    .bg-img-01 {
        z-index: 0;
        position: absolute;
        top: 50%;
        right: -5%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 480px;
        height: auto;
    }

    .items-list {
        margin-right: 30%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 40px;
    }

    .item {
        z-index: 2;
        padding-left: 60px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

/* Block "Price" */
.block_price {
    margin-top: 40px;

    .price-wrapper {
        padding: 60px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        position: relative;
    }

    .bg-img-01 {
        z-index: 0;
        position: absolute;
        top: 50%;
        left: -5%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 880px;
        height: auto;
    }

    .bg-img-02 {
        display: none;
    }

    .item-price {
        z-index: 2;
        background-color: white;
        border-radius: 10px;
        box-shadow: @shadow;
        padding: 40px 20px;
        width: 100%;
        max-width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .old-price {
        margin-top: 30px;

        .suptitle {
            font-size: 13px;
            line-height: 21px;
            text-transform: uppercase;
        }

        .price {
            color: @color_text-pale;
            text-decoration: line-through;
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            margin-top: 10px;
        }
    }

    .new-price {
        margin-top: 30px;

        .suptitle {
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
        }

        .price {
            font-size: 64px;
            font-weight: 700;
            line-height: 72px;
            margin-top: 10px;
        }
    }

    .btn_buy-course {
        margin-top: 30px;
        background: @gradient_button;
        box-shadow: @shadow_button;
        color: white;
        width: 100%;
        max-width: 320px;
        height: 60px;
        font-weight: 700;
        padding: 12px;
        border-radius: 8px;
        white-space: nowrap;
        text-align: center;

        &:hover {
            box-shadow: @shadow_button-hover;
        }

        &:active {
            box-shadow: @shadow_button-active;
        }
    }

    .subtitle {
        margin-top: 15px;
        font-size: 18px;
        line-height: 26px;
    }
}

/* Media */
@media screen and (max-width: 1199.8px) {

    /* Block "Main" */
    .block_main {
        background-position: 256px bottom;
    }
}

@media screen and (max-width: 991.8px) {

    /* Block "Main" */
    .block_main {
        background-position: 192px bottom;

        .main-text {
            padding-top: 48px;
            padding-bottom: 64px;
            max-width: 480px;

            .heading-main {
                font-size: 45px;
                line-height: 55px;
            }

            p+p {
                margin-top: 40px;
            }
        }

        .btn_main {
            max-width: 240px;
        }
    }

    /* Block "If" */
    .block_if {
        padding: 60px 0;

        .if-wrapper {
            grid-gap: 60px;
        }

        .arrows-host {

            img:nth-child(1) {
                top: -90px;
            }

            img:nth-child(2) {
                top: -70px;
                right: -90px;
            }

            img:nth-child(3) {
                top: -10px;
                right: -90px;
            }

            img:nth-child(4) {
                top: 10px;
            }

            img:nth-child(5) {
                top: -10;
                left: -90px;
            }

            img:nth-child(6) {
                top: -70px;
                left: -90px;
            }
        }

        .if-text {
            margin-top: 60px;
        }
    }

    /* Block "Author" */
    .block_author {
        padding-top: 50px;
        padding-bottom: 60px;

        .item-info {
            padding: 0;
        }

        .skills-list {
            margin-top: 24px;
        }

        .skill {
            margin-top: 8px;
            padding-left: 60px;

            img {
                width: 40px;
            }
        }
    }

    /* Block "What Awaits You" */
    .block_what-awaits-you {
        padding: 60px 0;

        .way-wrapper {
            margin-top: 60px;
        }

        .way-wrapper+.way-wrapper {
            margin-top: 60px;
        }

        .bg-img-01,
        .bg-img-03 {
            left: -10%;
            max-width: 480px;
        }

        .bg-img-02 {
            right: -10%;
            max-width: 480px;
        }

        .item {
            flex-basis: 60%;
            grid-gap: 16px;
        }

        .title {
            min-height: 56px;
        }

        ul {
            margin-top: 20px;
        }

        ul li+li {
            margin-top: 20px;
        }
    }

    /* Block "During Course" */
    .block_during-course {
        padding: 60px 0;

        .dc-wrapper {
            margin-top: 40px;
        }

        .item {
            width: 50%;
            padding-left: 88px;

            img {
                width: 56px;
                height: 56px;
            }
        }
    }

    /* Block "Reviews" */
    .block_reviews {
        padding: 40px 0 20px 0;
    }

    /* Block "After Course" */
    .block_after-course {
        .items-list {
            margin-right: 40%;
        }

        .item {
            padding-left: 48px;

            img {
                width: 30px;
            }
        }
    }

    /* Block "Price" */
    .block_price {
        .bg-img-01 {
            left: -15%;
        }

        .item-price {
            padding: 30px;
            width: 100%;
            max-width: 360px;
        }

        .old-price {
            margin-top: 24px;

            .price {
                font-size: 40px;
                line-height: 48px;
                margin-top: 8px;
            }
        }

        .new-price {
            margin-top: 24px;

            .price {
                font-size: 56px;
                line-height: 64px;
                margin-top: 8px;
            }
        }

        .btn_buy-course {
            margin-top: 20px;
            max-width: 260px;
            height: auto;
            font-size: 18px;
            line-height: 26px;

            &:hover {
                box-shadow: @shadow_button-hover;
            }

            &:active {
                box-shadow: @shadow_button-active;
            }
        }

        .subtitle {
            margin-top: 8px;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 767.8px) {

    /* Block "Main" */
    .block_main {
        background-position: center bottom;

        .main-text {
            background: linear-gradient(180deg, @color_bg-silver, transparent 50%);
            padding: 20px 0;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            p+p {
                margin-top: 32px;
            }

            p+a {
                margin-top: 280px;
            }
        }
    }

    /* Block "If" */
    .block_if {

        .if-wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 30px;
            align-items: flex-start;
            justify-items: flex-start;
            padding-top: 80px;
        }

        .item {
            text-align: left;
            position: relative;
            width: 100%;

            &::after {
                content: '';
                background-image: url('../images/training-foodemotion/line.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 50%;
                bottom: -20px;
                transform: translateX(-50%);
                width: 48px;
                height: 12px;
            }
        }

        .item:nth-child(6) {
            &::after {
                content: none;
                width: 0;
                height: 0;
                transform: none;
            }
        }

        .item:nth-child(1),
        .item:nth-child(3),
        .item:nth-child(5) {
            align-self: inherit;
        }

        .if-arrows {
            top: 24px;
            left: 50%;
            transform: translateX(-50%);
        }

        .arrows-host {
            display: none;
        }
    }

    /* Block "Author" */
    .block_author {
        padding-top: 40px;
        padding-bottom: 40px;

        .author-item {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            grid-gap: 30px;
            text-align: left;
            padding-top: 40px;
        }

        .item-photo {
            order: 1;
            height: 400px;
            margin: 0 auto;
        }

        .item-info {
            order: 2;

            p+p {
                margin-top: 8px;
            }
        }

        .skills-list {
            margin-top: 16px;
        }

        .skill {
            margin: 16px 0;
        }
    }

    /* Block "What Awaits You" */
    .block_what-awaits-you {
        padding: 40px 0;

        .way-wrapper {
            margin-top: 40px;
            flex-direction: column;
        }

        .way-wrapper.right-side {
            justify-content: flex-start;
        }

        .way-wrapper+.way-wrapper {
            margin-top: 40px;
        }

        .bg-img-01,
        .bg-img-02,
        .bg-img-03 {
            order: 1;
            position: static;
            top: 0;
            right: 0;
            transform: none;
            margin: 0 auto;
        }

        .item {
            order: 2;
            margin-top: 20px;
            flex-basis: 100%;
        }
    }

    /* Block "During Course" */
    .block_during-course {
        background-position: 75% center;

        .item {
            width: 100%;
            margin-bottom: 32px;
        }
    }

    /* Block "Reviews" */
    .block_reviews {
        display: none;
    }

    /* Block "After Course" */
    .block_after-course {
        padding: 40px 0;

        .ac-wrapper {
            margin-top: 20px;
        }

        .bg-img-01 {
            position: static;
            top: 0;
            left: 0;
            transform: none;
            margin: 0 auto;
        }

        .items-list {
            margin: 0;
        }
    }

    /* Block "Price" */
    .block_price {
        margin: 0;
        padding: 40px 0;

        .price-wrapper {
            padding: 0;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            position: relative;
        }

        .item-price {
            position: relative;
            margin: 0;
            margin-top: -60px;
        }

        .bg-img-01 {
            display: none;
        }

        .bg-img-02 {
            display: block;
            width: 100%;
            max-width: 480px;
            height: auto;
        }
    }
}

@media screen and (max-width: 575.8px) {

    /* Block "Main" */
    .block_main {
        background-image: url('../images/training-foodemotion/img_main-bg-sm.jpg');

        .main-text {
            .heading-main {
                font-size: 28px;
                line-height: 36px;
            }

            p+a {
                margin-top: 256px;
            }
        }

        .btn_main {
            max-width: 224px;
            height: 48px;
            padding: 8px;
        }
    }

    /* Block "If" */
    .block_if {
        padding: 40px 0;

        .if-wrapper {
            grid-gap: 40px;

            span.handwriting {
                font-size: 60px;
            }
        }

        .if-text {
            margin-top: 40px;
        }
    }

    /* Block "Author" */
    .block_author {
        .item-photo {
            height: 320px;
        }

        .skill {
            margin: 12px 0;
        }
    }

    /* Block "What Awaits You" */
    .block_what-awaits-you {
        ul {
            position: relative;
            margin-left: -76px;
        }
    }

    /* Block "During Course" */
    .block_during-course {
        background-image: none;
        padding: 40px 0;

        .item {
            padding-left: 80px;
            margin-bottom: 24px;

            img {
                width: 48px;
                height: 48px;
            }
        }
    }
}